// ---------------------------------------------------------------------
//  One Offs
// ---------------------------------------------------------------------

.has-accent {
  position: relative;

  &:before {
    width: 48px;
    height: 1px;
    display: block;
    background: $accent;
    content: "";
    margin-bottom: 20px;
  }

  .text-center & {
    &:before {
      margin: 0 auto 20px;
    }
  }
}

.accent-left {
  position: relative;
  display: inline-flex;
  align-items: center;

  &:before {
    width: 6px;
    height: 6px;
    display: block;
    background: $accent;
    border-radius: 50%;
    content: "";
    margin-right: 8px;

    @include start-at($medium) {
      left: -24px;
      position: absolute;

      top: 6px;
    }
  }
}


.py-6 {
  padding-top: 60px;
  padding-bottom: 60px;

  @include start-at($medium) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

// ----------------------------------------
//
// ----------------------------------------

.bg-brand {
  background: $brand-dark;
  color: $white;
}

.bg-accent-light {
  background: $accent-light;
}

[data-scroll-to]:hover {
  cursor: pointer;
}
